<tr *ngFor="let row of grid.getRows()"
    (click)="userSelectRow.emit(row)"
    (mouseover)="rowHover.emit(row)"
    class="ng2-smart-row"
    [className]="rowClassFunction(row)"
    [ngClass]="{selected: row.isSelected, deleted: row.isDeleted}"
    id="row-{{row.index}}">
  <td *ngIf="isMultiSelectVisible" class="text-center" (click)="multipleSelectRow.emit(row)">
    <input type="checkbox" class="form-control" [ngModel]="row.isSelected" [disabled]="row.disableCheckBox">
  </td>
  <td *ngIf="!row.isInEditing && !row.isDeleted && !row.isRevoked && !row.isUndo && !row.isReissued && showActionColumnLeft" class="ng2-smart-actions text-center">
    <ng2-st-tbody-custom [grid]="grid" (custom)="custom.emit($event)" [row]="row" [source]="source"></ng2-st-tbody-custom>

    <ng2-st-tbody-edit-delete [grid]="grid"
                              [deleteConfirm]="deleteConfirm"
                              [editConfirm]="editConfirm"
                              (edit)="edit.emit($event)"
                              (delete)="delete.emit($event)"
                              (revoke)="revoke.emit($event)"
                              (undo)="undo.emit($event)"
                              (reissue)="reissue.emit($event)"
                              (editRowSelect)="editRowSelect.emit($event)"
                              [row]="row"
                              [source]="source">
    </ng2-st-tbody-edit-delete>
  </td>
   <td *ngIf="(row.isInEditing || row.isDeleted || row.isUndo || row.isReissued || row.isRevoked) && showActionColumnLeft"
    class="ng2-smart-actions text-center">
    <ng2-st-tbody-create-cancel [grid]="grid"
                                [row]="row"
                                [editConfirm]="editConfirm"
                                (cancelUpdate)="cancelUpdate.emit($event)">
    </ng2-st-tbody-create-cancel>
  </td>
  <td *ngFor="let cell of row.cells">
    <ng2-smart-table-cell [cell]="cell"
                          [grid]="grid"
                          [row]="row"
                          [isNew]="false"
                          [mode]="mode"
                          [editConfirm]="editConfirm"
                          [inputClass]="editInputClass"
                          [isInEditing]="row.isInEditing"
                          (edit)="edit.emit($event)">
    </ng2-smart-table-cell>
  </td>

  <td *ngIf="row.isInEditing && showActionColumnRight"  class="ng2-smart-actions text-center">
    <ng2-st-tbody-create-cancel [grid]="grid"
                                [row]="row"
                                [editConfirm]="editConfirm"
                                (cancelUpdate)="cancelUpdate.emit($event)">
    </ng2-st-tbody-create-cancel>
  </td>

  <td *ngIf="!row.isInEditing && showActionColumnRight" class="ng2-smart-actions text-center">
    <ng2-st-tbody-custom [grid]="grid" (custom)="custom.emit($event)" [row]="row" [source]="source"></ng2-st-tbody-custom>

    <ng2-st-tbody-edit-delete [grid]="grid"
                              [deleteConfirm]="deleteConfirm"
                              [editConfirm]="editConfirm"
                              [row]="row"
                              [source]="source"
                              (edit)="edit.emit($event)"
                              (delete)="delete.emit($event)"
                              (revoke)="revoke.emit($event)"
                              (undo)="undo.emit($event)"
                              (reissue)="reissue.emit($event)"
                              (editRowSelect)="editRowSelect.emit($event)">
    </ng2-st-tbody-edit-delete>
  </td>
</tr>

<tr *ngIf="grid.getRows().length == 0">
  <td [attr.colspan]="grid.getColumns().length + (isActionAdd || isActionEdit || isActionDelete)">
    {{ noDataMessage }}
  </td>
</tr>
